[2018-09-29 14:29] incraigulous opened #7 "How do slots work?"
I didn't see slots in the readme.

[2018-09-29 14:32] freekmurze commented on #7
I'll add an example to the readme soon. You can already dive in the `tests` directory to see a few examples.

[2018-10-02 17:20] telkins opened #27 "Problem with Vue...?"
Hello,

I'm using Vue and, as such, I'm also employing the prefix per the docs.  Nevertheless, I get the following warning when I hit my page:

I'm a little weak on Vue but it's been working fine before beginning to use this package.  I'm wondering if I'm missing something that I need to do with either Vue or BladeX...or both.

Any suggestions...?

Thanks.  :-)

[2018-10-02 17:29] freekmurze commented on #27
Do you see any of the BladeX component in the html output of your app? If so you probably did something wrong registering that one.

If you don't see any BladeX component you configured it right and you probably did something wrong at the Vue end.

[2018-10-02 20:52] telkins commented on #27
@freekmurze Thx.  I'll take a look and see what I can find.  I haven't dug that deep...yet.  :-)

[2018-10-03 00:20] snellingio opened #29 "Quirk custom component spaces"
Will update this issue once I dig into potential fixes.

I have a custom component, `avatar`, which I call like so:
[code]

This was nice and easy to convert to a BladeX component:
[code]

The problem seems to be when you do not have any spaces in the slot:
[code]

The reason this fails is because `@endcomponent` is right up against the slot, which returns `SS@endcomponent`. This is how blade curr

[2018-10-03 11:47] freekmurze opened #31 "Add closures as viewmodels when registering a component"

[2018-10-03 11:47] freekmurze opened #32 "Improve component registration"
It should be possible to do this:

[code]

[2018-10-03 11:55] freekmurze opened #33 "Restructure tests"
- directories per feature
- assert against both Blade output and BladeX output

[2018-10-03 12:19] telkins commented on #27
@freekmurze Thx.  I see `<x-layout-default-base>` (the prefixed component name) when I view source, so it sounds like I've registered it incorrectly.  Will take a close(r) look and update when I've found something.

[2018-10-03 12:35] telkins commented on #27
@freekmurze OK.  It looks like the docs I'm following are not supported by the code I'm using.  It's also possible I'm using the wrong version.

Anyway, I'm registering my components like so: `BladeX::components('components');`

The code is then looking to see if `components` is a directory...which it's not.

The docs say the following:
[code]

So, it seems that BladeX is not prepending the submit

[2018-10-03 12:45] telkins commented on #27
@freekmurze OK.  Quick question....

I had assumed that if I had a component in the following file: `resources/views/layouts/default.blade.php`

Then when I registered the `layouts` directory, then I would be able to reference the "component" like so: `<layouts-default>`.

It looks like I was wrong in this assumption and that I should instead reference the "component" like so: `<default>`.

So...a

[2018-10-03 12:50] telkins commented on #27
I can already see some (minor) issues with what I've suggested.  Basically, I would have wanted the directory name to be the first piece of the "usage" name....but that wouldn't always be desired...even for me.  There's an easy solution for what I would want, however, in that I can simply restructure my components directories.

There may be other issues, but it still seems reasonable to me to use

[2018-10-03 14:38] snellingio opened #36 "Order of BladeX Component instantiation matters"
So I have I component within a component to deal with breadcrumbs:

[code]

In my AppServiceProvider, I have the following BladeX Components defined:

[code]

This errors!

[code]

What is odd is that if I reverse them in the boot method, it works without errors.

So this works!
[code]

For right this second, I've just fixed the ordering in my app. But it would be nice if the ordering didn't error

[2018-10-03 15:12] freekmurze commented on #36
Would you mind PR'ing a failing test for us to fix?

[2018-10-03 15:36] AlexVanderbist commented on #36
Looks like we're accidentally replacing the wrong `</tw-breadcrumb-group>` closing tag as they both start with `</tw-breadcrumb`... I'll look into this tomorrow.

[2018-10-03 18:42] freekmurze commented on #33
Done!

[2018-10-03 18:42] #33 closed

[2018-10-03 19:11] freekmurze commented on #36
Added this test in an attempt to recreate the problem: https://github.com/spatie/laravel-blade-x/blob/5a7e7b41f0658068c1841208a2853616f65cae48/tests/Features/ComponentCompilation/ComponentCompilationTest.php#L140-L147

I can't seem to recreate this problem...

[2018-10-03 22:00] freekmurze commented on #27
Holding off this idea for now, might revisit it later.

Closing this issue because there aren't any interop problems with Vue. If you have more questions, feel free to open up a new issue.

[2018-10-03 22:00] #27 closed

[2018-10-04 08:50] freekmurze commented on #32
It should be possible to do this:

[code]

[2018-10-04 08:51] freekmurze commented on #31
Handled in #40

[2018-10-04 08:51] #31 closed

[2018-10-04 08:56] AlexVanderbist commented on #36
Just had a look at this again, can't seem to replicate this either. It might've already been fixed on the master branch. I'd suggest waiting until we tag a new version later today and checking if the issue still exists :)

[2018-10-04 11:09] snellingio commented on #36
I can confirm updating to `1.2.1` this issue no longer exists.

Best,
Sam

[2018-10-04 11:09] #36 closed

[2018-10-07 12:13] jstoone commented on #32
I've had a really good stab at this yesterday, and very close to be finished. I just need to clean up a bit and then I have PR ready solving this issue.

[2018-10-07 12:29] freekmurze commented on #32
Thanks for you efforts around this, meanwhile I've already implemented in myself in the `v2` which we are going to release soon. If you have any improvements, please send a PR to the `v2` branch.

[2018-10-07 12:29] freekmurze commented on #32
Implemented in `v2`.

[2018-10-07 12:29] #32 closed

[2018-10-07 12:46] jstoone commented on #32
Oh man, totally overlooked that it first of all already was assigned to you, and secondly that there was a `v2`-branch.

Just had a look, and I had the exact same approach, although I removed the ability to register components from a absolute-path directory. Mainly because currently (in  `master`) the user is only able to require component directories using an absolute path, which does not fit wit

[2018-10-07 12:52] freekmurze commented on #32
We're not going to maintain `v1`, we'll advise everybody to migrate to v2. I've added an `UPGRADING.md` with instructions.

We are not going to support this anymore, we'll only have support for relative paths.

The docs for `v2` will be here: https://docs.spatie.be/laravel-blade-x/v2/introduction

[2018-10-08 08:22] RicLeP opened #48 "Multiple version of same component possible?"
I’ve not dug into BladeX yet but is it possible to have multiple ways to render the same component? For instance parsing the template as normal, or when logged in as an admin? It would be cool to use this in a CMS where editable controls can be added in some states.

[2018-10-08 08:37] freekmurze commented on #48
Inside a component you can do any check you want.

Another way to go about this (if you really want to have separate components for admin/normal user) you could just register another component with the same tag name in the service provider depending on the type of user that is logged in.

[2018-10-08 08:37] #48 closed

[2018-10-08 08:43] sebastiandedeyne commented on #48
I'd stay away from using the same name in different context.

BladeX doesn it's work when the views are compiled, while the user check needs to happen at runtime. You'll definitely run into caching issues going down this road.

Ad Freek suggested, I'd do the check inside the component. An alternative solution would be to split the component into three parts. Consider a sidebar that needs to render

[2018-10-08 10:00] Abdulbasset opened #49 "Attribute without value when using closing tag"
This code throw Undefined offset: 0

`<panel dismissable>
....
</panel>`

[2018-10-08 10:03] MadMikeyB opened #50 "Benefit over @include"
Question, not issue.

What's the benefits of this over `@include` ?

[2018-10-08 10:57] freekmurze commented on #50
https://twitter.com/sebdedeyne/status/1047172288767033345

[2018-10-08 10:57] #50 closed

[2018-10-08 13:28] #49 closed

[2018-10-08 13:29] AlexVanderbist commented on #49
Thanks for reporting, fixed in v2.0.1!

[2018-10-10 13:36] rodrigopedra opened #52 "Attribute interpolation"
Hi, is there a way to do attribute interpolation?

Assume this simple component:

[code]

I want to do this:

[code]

Currently the output **on screen** is:

[code]

I didn't look into the code, but I guess the compiler is escaping the output before generating the blade file.

As a workaround, I am doing this:

[code]

[2018-10-10 15:34] sebastiandedeyne commented on #52
That's not a workaround, it's how it should be done :)

To clean things up, you could swap the single and double quotes and use PHP string interpolation:

[code]

Or if you need more templating options, a slot might be a better choice.

[code]

[2018-10-10 15:34] #52 closed

[2018-10-10 15:57] rodrigopedra commented on #52
Ok, thanks!

[2018-10-10 22:08] snellingio opened #53 "Recommended spot to put View Models?"
More of a question than an issue.

What the is the best practice around namespacing / folder structure for view models?

Something like `App/ViewModels` or `App/Http/ViewModels`?

What about ones specifically for components? `App/.../ViewModels/BladeX` or `App/.../ViewModels/Components`?

Just looking for some opinions, as there is no right or wrong answer.

[2018-10-11 08:45] freekmurze commented on #53
In the project I'm working on I've put them in `app\Http\ViewModels\Components`.  In that project we use [regular view models](https://github.com/spatie/laravel-view-models) as well. That's why there is that final `Components` subdirectory.

[2018-10-11 08:45] #53 closed

[2018-10-11 08:57] aalaap opened #55 "Component hierarchy and tag naming"
I have some components in a structure under views:

    frontend/components/item.blade.php
    frontend/components/widgets/search.blade.php
    frontend/components/modals/save.blade.php

If I register all these, I am able to use each component as a top-level tag:

    <x-item id="25">...</x-item>
    <x-search section="Events"></x-search>
    <x-save></x-save>

In the template files, it isn't clea

[2018-10-11 12:45] freekmurze commented on #55
If you need to customize the tag name you can do so with the `tag` method.

[code]

We're not going to add a `root` path in the package, because I suspect the majority of users won't need this and we like to keep the package simple.

[2018-10-11 12:45] #55 closed

[2018-10-11 15:50] ryanmortier opened #56 "Does this get confusing for larger applications using Vue?"
First off, love your work and packages!

I was just wondering if you have a large project with a large amount of both BladeX and Vue components, does mixing them get confusing? What I mean is how do you know whether the component you're looking at in your templates is a BladeX component or a Vue component? If you need to modify it you'd have to go searching your service provider or looking through

[2018-10-11 15:51] ryanmortier commented on #56
Ah nevermind, I just need to RTFM.

Explained here: https://docs.spatie.be/laravel-blade-x/v2/advanced-usage/prefixing-components

[2018-10-11 15:51] #56 closed

[2018-10-12 04:59] aalaap commented on #55
Thanks for this. I did look at the `tag` method in the documentation, but I realised it still needs to be specified for each component separately, so if I use the `component` method to register all components in a folder, that's not going to work.

Another suggestion is allowing to set a prefix within the `component()` method, similar to route grouping prefixes. Something like:

    BladeX::compon

[2018-10-16 14:10] zacksmash opened #57 "How to use BladeX outside of Laravel"
First off, I'm excited to use this package on pretty much every Laravel project, moving forward!

However, I also would like to use this in a Wordpress site. I'm using a fork of the latest Sage/Roots theme, which incorporates Blade into the Wordpress template files. It also includes a package to give you "Controllers", which gives Wordpress a more MVC feel.

I've tried to register this package mul

[2018-10-16 14:39] freekmurze commented on #57
This package is very much tied to Laravel. In order to use it outside of Laravel you'll have to get Blade running in your project. I know Matt Stauffer had a project with examples on how to extract components: https://github.com/mattstauffer/Torch

But even with Blade running you'll still have some work translating service provider and some ioc binding to your project. I think it's doable, but it

[2018-10-16 14:39] #57 closed

[2018-10-19 20:37] snellingio opened #59 "View not found error when prop is empty"
Ran into this today:

[code]

Throws the following error:
`ErrorException (E_ERROR) View [] not found.`

However:
[code]

Works totally fine.

Will investigate and create a PR with tests later this weekend if I have time

[2018-10-22 04:35] jfsullivan opened #60 "Not registering correctly if used in a package"
I have a package (PageBuilder) that I want to use BladeX in but components aren't registering correctly.  I have added the following into my package's ServiceProvider...
[code]

The components in the blocks and headers directories are not registering even though I have "*" in the registration paths.  The myText component that I register directly by name is registering but not with the prefix (x).

[2018-10-22 08:41] AlexVanderbist commented on #59
Fixed in v2.0.3!

[2018-10-22 08:41] #59 closed

[2018-10-22 21:15] freekmurze commented on #60
Using subdirectories in a vendor namespace is currently not supported. I'd accept a fully tested PR that adds this to the package.

[2018-10-29 10:49] #60 closed

[2018-11-03 05:00] kamov opened #62 "Issue with SelectFieldViewModel"
I am trying to create this example:
https://docs.spatie.be/laravel-blade-x/v2/advanced-usage/transforming-data-with-view-models

For this code:

[code]

I am getting $isSelected is undefined.

I fixed checking directly the $value with $selected in this way:

[code]

However, I would like to know why function isSelected of SelectFieldViewModel is not found.

Thanks

[2018-11-05 12:49] freekmurze commented on #62
Our tests prove that this functionality is working properly.
https://github.com/spatie/laravel-blade-x/blob/master/tests/Features/ViewModel/ViewModelTest.php

Could you submit a failing test for us to look at?

[2018-11-05 12:49] #62 closed

[2018-11-06 06:24] kamov opened #63 "Load components from vendor not work"
I am trying to load a components inside a vendor like:

        BladeX::component('core::components.bladex.select')->viewModel(SelectViewModel::class);

But it not working, appear message:

Could not register component `` because view `core::components.bladex.select` was not found.

If I check if(view()->exists('core::components.bladex.select')) then it return true.

Any idea what I am missing?

T

[2018-11-06 07:55] freekmurze commented on #63
@dinhquochan could you take a look at this one?

[2018-11-06 08:19] dinhquochan commented on #63
I just create new project and look it's working well. Can you remove viewModel, maybe it's a problerm?

ServiceProvider

![screenshot_1](https://user-images.githubusercontent.com/9979458/48051235-22087d00-e1d7-11e8-963b-037038608cf2.png)

card.blade.php

![screenshot_2](https://user-images.githubusercontent.com/9979458/48051246-2af94e80-e1d7-11e8-92d9-e99ea751a9a9.png)

welcome.blade.php

![screen

[2018-11-06 17:10] kamov commented on #63
Thanks for your check. I was able to replicate your example and work fine.

As soon as I try with my setup then failed.

I think that the problem is maybe I am trying to load blade components before the new views path it's added to views.

Because in your example, you add in boot() method both loadFromViews and load blade-x components.

While in my setup I am using boot() for loadFromViews() and r

[2018-11-06 17:43] kamov commented on #63
I just notice that also your example not working correctly.

The slot text is added in card component, but card component is not compiled.

I mean if I check source code, I can see <card>

Can you please check your code?

![screenshot from 2018-11-06 18-41-45](https://user-images.githubusercontent.com/2345000/48082818-cf898980-e1f3-11e8-9bb7-672dd0956edf.png)

[2018-11-06 18:11] freekmurze commented on #63
Are you using v2 of the package?

On Tue, 6 Nov 2018 at 18:43, kamov <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2018-11-06 18:53] kamov commented on #63
@freekmurze yes, in my composer.json there is:

"spatie/laravel-blade-x": "^2.0.0",

[2018-11-07 05:29] kamov commented on #63
I found where the code append prefix to tag. Not sure why you are doing this and how then to call the tag since there is " : ".

[code]

[2018-11-07 08:05] kamov commented on #62
It work fine now. Not sure where was the problem. Maybe cache. As I don't change anything, and then it worked fine.

[2018-11-08 01:43] dinhquochan commented on #63
Default, BladeX load components in vendor with namespace. It's to avoid duplication. Just use:

[code]

[2018-11-08 04:02] kamov commented on #63
Thank You. Works fine using namespace.
Maybe a few words regarding this in docs would be good.

[2018-11-08 04:02] #63 closed

[2018-11-08 04:56] inxilpro opened #64 "DomCrawler instead of regular expressions?"
Is there a reason you opted to use regular expressions to parse the XML rather than something like Symfony's DomCrawler library? Here's a basic gist of how the parsing might be implemented with a crawler:

https://gist.github.com/inxilpro/7717982cfaecd54da923277e29a114de

It just strikes me that relying on regular expressions to parse HTML is notoriously difficult to maintain—it seems like using a

[2018-11-08 04:59] inxilpro commented on #64
(In reality, this probably can't output `@component` tags, but instead `<?php \$__env->startComponent(); ?>` code.)

[2018-11-09 07:15] kamov opened #65 "SelectViewModel with multiple options"
How to make selected multiple option with SelectViewModel?

I am currently using the one of examples, and I change isSelected() method like below, but not work:

[code]

[2018-11-09 07:28] kamov commented on #65
My fault, in_array should be used

[2018-11-09 07:28] #65 closed

[2018-11-12 14:52] freekmurze commented on #64
We first tried implementing the functionality using DomCrawler. The problem is that for invalid html, DomCrawler will try to correct the html. We don't want that.

[2018-11-12 14:52] #64 closed

[2018-11-15 12:10] Sixosable opened #66 "First Usage according to documentation not working?"
What I basically did is copy and past the things from the documentation and adjusted them.

[Image can be found here](https://i.gyazo.com/71f6392f292cf3478d120d54efa655d6.png)

Straight up give the error shown in the image.

Here's the code of my AppProvider:
[Image here](https://i.gyazo.com/c10e49b7e423bdf114b8592ec690e2fd.png)
(Added as Image as GitHub was being annoying with the formatting)

[2018-11-15 16:17] freekmurze commented on #66
You forgot to import the BladeX facade.

[2018-11-15 16:17] #66 closed

[2018-11-21 08:51] kamov opened #67 "Add empty item in select"
I am using ViewModels for populate a select input.
I would like to add an empty options like "Select item" as first options.

How to archive this?

Thanks

[2018-11-21 17:13] kamov commented on #67
Yes sure. It's very similar to example on docs.

ViewModel:

[code]

Component:

[code]

[2018-11-21 17:15] kamov commented on #67
Ok, I think that I get a solution now...

by adding directly in the component...

[2018-11-22 08:58] sebastiandedeyne commented on #67
Directly in the component sounds like a good solution 👍

Alternatively, you could add the item to the `options` property in `__construct`.

[code]

[2018-11-22 08:58] #67 closed

[2019-01-14 18:39] kamov opened #68 "Access variable :model"
If I create a component like:

[code]

Then how I can access variable ":model" ? It not work if I use $model->...

Should it bind automatically to form's input name? Because if yes then not work correctly in my case.

[2019-01-18 08:53] sebastiandedeyne commented on #68
Please provide a full example of the above code, and the contents of `my-form.blade.php`.

[2019-01-18 10:18] kamov commented on #68
The problem was that I am trying to use $model variable inside another component that is load inside my-form component, something like:

[code]

Using $model inside component my-input seem not work. Maybe I need to pass it again to my-input like
`<my-input :model="$model" />`

[2019-01-18 12:08] sebastiandedeyne commented on #68
Yes, variables must be passed explicitly in Blade components.

If you want to implicitly pass something down, look into context: https://docs.spatie.be/laravel-blade-x/v2/advanced-usage/sharing-data-with-context

[2019-01-18 12:08] #68 closed

[2019-01-18 13:06] kamov commented on #68
Awsome, context is exactly what I was looking for.

Thank you

[2019-04-05 13:44] vpratfr opened #71 "Same component - Different ViewModel"
Hi,

I am planning to define components for a small dashboard. Wondering if I could reuse some markup and provide different view model on the fly. e.g.

    // dashboard.blade.php
    <x-value-widget view-model="App\ViewModels\FooViewModel::class"></x-value-widget>
    <x-value-widget view-model="App\ViewModels\BarViewModel::class"></x-value-widget>

    // value-widget.blade.php
    <div class="c

[2019-04-05 14:19] #71 closed

[2019-05-24 00:28] hmw-michaelr opened #72 "Issue when both spatie/laravel-blade-x and thepinecode/blade-filters are used"
Hi there,

I'm having an issue where if I'm using both spatie/laravel-blade-x and thepinecode/blade-filters.

php artisan commands stop working.

I'm unsure which package is truly the cause here, but hopefully someone might know what might be up.

Here is the log/stacktrace:
`[2019-05-24 10:18:20] local.ERROR: Could not register component 'context' because view 'bladex::context' was not found. {"e

[2019-05-27 23:07] hmw-michaelr commented on #72
This has been resolved by thepinecode/blade-filters https://github.com/thepinecode/blade-filters/issues/5

[2019-05-27 23:07] #72 closed

[2019-05-31 14:10] ckissi opened #73 "Can't get it work with Laravel modules"
I'm trying to use laravel-blade-x with "Laravel modules" package but can't get it to work.

My app service provider boot method looks like this:

[code]

I get no error message, so it seems like it registers the components.

In the view I use this:
[code]

Unfortunately, the code is left untouched after access and I see this in the rendered HTML file.

`<alert type="error" message="test"></alert>`

[2019-06-01 16:16] dinhquochan commented on #73
You should call element tag with namespace.

[code]

[2019-06-03 06:36] brendt commented on #73
Feel free to send a PR!

[2019-06-03 06:36] #73 closed

[2019-06-27 11:52] sebastiaanluca opened #74 "Component replaces wrong HTML tag when both start with the same name"
In a view, we're using some simple Vue components:
[code]

In our `BladeServiceProvider`, we register a completely different BladeX component:
[code]

This results in an error, because BladeX tries to replace all Vue components that start with the `budget` tag/name/string:
[code]

Similar to https://github.com/spatie/laravel-blade-x/issues/36 and https://github.com/spatie/laravel-blade-x/issues/59

[2019-06-28 14:19] AlexVanderbist commented on #74
Thanks! Let's continue this issue in the PR :)

[2019-06-28 14:33] AlexVanderbist commented on #74
@sebastiaanluca can you confirm 2.2.1 fixes this issue?

[2019-06-28 15:00] sebastiaanluca commented on #74
Like a charm! Thanks for the quick response and improved fix :)

[2019-06-28 15:00] #74 closed

[2019-07-10 08:27] derheyne opened #77 "Assign slot directly to component"
I would be really handy to be able to assign slots directly to components instead of using the `<slot name="whatever">` syntax.

It could look like `<component #whatever>` or `<component x-slot="whatever">`.

## Example behaviour

Blade-X template:

[code]

Compiled Blade template:

[code]

[2019-07-11 06:20] freekmurze commented on #77
We're going to keep things simple and leave things as they are for now.

[2019-07-11 06:20] #77 closed

[2019-08-07 03:28] faustbrian opened #80 "Allow additional attributes to be passed to component on registration"
Currently it seems very tedious to create components that are all based on a single generic and determine their behaviour based on a handful of properties.

I would propose something like below code as a solution to that issue. I've used inputs as an example as that is where I noticed the most duplication in a medium sized application.

**Old**
[code]

**New**
[code]

[2019-08-07 09:31] freekmurze commented on #80
We will consider this when creating a new major version of the package.

[2019-08-07 09:31] #80 closed

[2019-08-09 13:51] KurtPfund opened #81 "Cannot install package"

[2019-08-09 14:00] KurtPfund commented on #81
I saw your presentation at Laracon.
It was excellent and I have been looking forward to using Blade X on a new project.

I attempted to install it (the project was laravel 5.8.26), and was unable.
I updated to 5.8.31 and encountered the same problem.
Here is my attempt and composer's response:
composer require spatie/laravel-blade-x:^2.0.0
./composer.json has been updated
Loading composer reposito

[2019-08-09 15:21] gjm opened #82 "Better support for packages"
I want to register a set of components from a `ui` package:
[code]
As an example, if I have a `panel` component it will be registered with the `ui::panel` tag. AFAIK looking at the code, this a feature to prevent name clash, correct?

Would be great if we could have the possibility to omit the package prefix or, at least, convert it to kebab case (`ui-panel`).

I know I can specify the tag for eac

[2019-08-20 20:14] freekmurze commented on #82
Feel free to PR this. Make sure to add some tests.

[2019-08-20 20:16] freekmurze commented on #81
Try requiring v2.2

[2019-08-20 20:16] #81 closed

[2019-08-21 13:16] Gummibeer commented on #82
Just to clarify, should the current `ui::panel` tag be possible in any registration scenario?

So like:
[code]

Or should we add a second method `->noNamespace()` which could be combined with the prefix ones and would result in:
[code]

Or should we simply add a `->namespaceSeparator()` method to use `-` instead of `::` or any other character wanted?

I miss a bit the real goal of this issue? I ge

[2019-08-21 13:57] gjm commented on #82
@Gummibeer I think the second solution would solve my problem. I could simply register with
[code]
and combine with `prefix()` if needed.

[2019-08-21 14:45] Gummibeer commented on #82
@freekmurze any thoughts? The naming should be `withoutNamespace()` to follow laravel style!?

[2019-08-21 16:26] freekmurze commented on #82
[code]

seems good.

Yup!

[2019-08-21 16:49] Gummibeer commented on #82
An idea: wouldn't `withoutPackage()` or `withoutPackagePrefix()` be better to prevent conflicts/misunderstandings with PHP namespaces?

[2019-08-22 08:18] Gummibeer commented on #82
Will start to work on this now.

[2019-08-22 08:20] freekmurze commented on #82
Nice, thanks @Gummibeer 👍 Have fun!

[2019-08-22 08:24] gjm commented on #82
Thanks @Gummibeer. Will be following this issue.

[2019-08-22 08:27] Gummibeer commented on #82
@freekmurze have already found the first not so easy parts. Atm we only have one global prefix. Will add the ability to prefix every single component/collection at the same time.

[code]

This isn't possible atm but I need something pretty similar to accomplish the request. SO I will pass this feature to the user.

[2019-08-22 08:45] Gummibeer commented on #82
@freekmurze is it right/wanted that if I register `BladeX::component('ui::alert')` it will not prefix it with `ui::`. Only if I register `BladeX::component('ui::components.alert')` it will get the namespace prefix.

[code]

https://github.com/spatie/laravel-blade-x/blob/7f604ebd9dedf6078c8c331c966bccae57e7c5fb/src/Component.php#L65-L68

For me this feels wrong - but in theory this would be BC to c

[2019-08-22 11:55] Gummibeer commented on #82
@gjm could you check the PR and tell me if this is what you wanted? You have to use `components()` (plural) now to register multiple components, get a `ComponentCollection` (not `null` as return and be able to chain the added methods.

[2019-08-22 23:13] Gummibeer commented on #80
I don't know if it's similar enough or it should be a new issue but I would like to pass all attributes in the view that aren't part of the view model to the component view as `$attr` array for example.

The usecase would be to pass additional classes, an ID or data attributes to the component without the need to define all possible attributes.
In combination with something like the Laravel commun

[2019-08-22 23:17] Gummibeer opened #85 "Allow to register subdirectories"
At the moment the `*` wildcard only resolves one level. So I would have to have all components in a single component folder or register every single subfolder by its own.

It would be great to support a multi level wildcard. Something like `components.**` or the also known `components.**.*`.

This would allow more structure in larger component collections without the need to add every folder to th

[2019-08-22 23:33] freekmurze commented on #85
It's a nice suggestion, but we haven't got a need for this ourselves at this moment and there were no issues previously that were asking for this.

Do you need this in a real life project?

[2019-08-22 23:34] freekmurze commented on #82
We'll continue this on #84

[2019-08-22 23:34] #82 closed

[2019-08-22 23:39] Gummibeer commented on #85
Yes, we splitted our views in really really small components - like recommended for Vue/React setups.
So we have a base input and extending for every type, these get wrapped by form components which again get wrapped by forms which get wrapped by a card which extends a basic card and so on.

This gives a lot of flexibility but only works good if the components are well structured.
Atm we have a wo

[2019-08-22 23:41] freekmurze commented on #85
OK, send a PR for this. Thanks! 👍

[2019-08-22 23:43] Gummibeer commented on #85
Could you keep the issue open. This will make it easier for me to keep track of my open todo here. 😊

[2019-08-23 07:49] Gummibeer commented on #85
Will use #84 as base for this to prevent double and merge work.

[2019-08-23 07:53] Gummibeer commented on #85
discussion will follow in #86

[2019-08-23 07:53] #85 closed

[2019-08-23 10:26] gjm commented on #82
@Gummibeer how can I test the code? Can't clone your fork...

[2019-09-15 14:02] DevSensei-ME opened #88 "Not Compatible with Laravel 6.^"
Can you update the code to work with latest Laravel version.
I can`t get it to install in my project.

The package looks fantastic and I want to use in my next project. :)

[2019-09-15 14:57] freekmurze commented on #88
The latest version already supports L6.

[2019-09-15 14:57] #88 closed

[2019-09-15 15:31] DevSensei-ME commented on #88
Thanks for reply
I had already figured out the issue. :innocent:

[2019-09-25 11:19] Gummibeer opened #89 "use spatie/laravel-view-models instead of copy'n'paste"
The `ViewModel` class in this package is identical to the [spatie/laravel-view-models](https://github.com/spatie/laravel-view-models) package except that it isn't responsable, which is an optional feature.
So it would be good require the package instead of duplicate work.

[2019-09-25 12:18] freekmurze commented on #89
I tend to try to minimize the dependencies of a package and prefer to just use a lightweight version of just the things we need.

If there's ever a real need to require the view-models package, I'll do it. But for now, I think it's fine.

[2019-09-25 12:18] #89 closed

[2019-10-24 08:45] Gummibeer opened #92 "Str::kebab() does not transform lower_snake_case"
To generate the default tag name `Str::kebab()` is used. But this method does not transform `lower_snake_case` view names to `lower-snake-case`.
Should a `str_replace('_', '-', $tag)` be added?

[2019-11-04 20:34] driesvints opened #94 "Let attributes cascade"
I didn't find an issue about this so thought to open one about it. This is more of a question than a feature request I guess.

From Blade I'm used that variables which are passed to includes are cascaded down into includes inside includes. With Blade components you need to explicitly set anything you want to cascade through.

For example:

**login.blade.php**

[code]

**checkboxField.blade.php**

[2019-11-05 14:55] markstaun opened #95 "Update Laravel version requirement to 5.8 or higher"
Since version 2.2 the laravel minimum requirement Laravel is 5.8 and not 5.6 as stated in the docs

[2019-11-05 15:46] freekmurze commented on #95
Feel free to send a PR to correct it.

[2019-11-06 11:14] markstaun commented on #95
https://github.com/spatie/laravel-blade-x/pull/96

[2019-11-06 17:32] freekmurze commented on #94
This package tries to mimic how things are done in a front end framework like Vue. There, you need to pass variables explicitly down.

Not 100% sure, but I think `context` might cascade down: https://docs.spatie.be/laravel-blade-x/v2/advanced-usage/sharing-data-with-context/

[2019-11-06 17:32] #94 closed

[2019-11-14 14:19] Gummibeer opened #97 "Attribute spread operator support"
The idea I have is something like `...attr="$el"` as a replacement for `:class="$el['class']" :src="$el['src']"`. So like the opposite of `compact()`. Or even only `...$el` because I would say that the spreaded attribute name would be ignored anyway.

[code]

The `$img` variable should be an array or arrayable but has to have strings, which should get kebabed, as keys.

[2019-11-15 15:41] qunabu opened #98 "Component inside component throws `View [] not found` error"
First of all - thanks for such a great package!

My issue is as follows - can one component be called from another component ?

I've registered several components in ServiceProvider with

[code]

everything works like charm but after calling one component from another, eg in `<component-advert-preview/>` from `resources/views/components/advert-preview.blade.php`  I'm calling
[code]
from `resources

[2019-11-15 16:11] qunabu commented on #98
Replacing
[code]
with
[code]
is a temporary solution for now.

[2019-11-20 11:50] qunabu commented on #98
The issue was in view cache.

[2019-11-20 11:50] #98 closed

[2019-12-04 04:16] calebporzio opened #99 "Livewire Support"
Consider an app with an `input-text` blade component like so:
[code]

You would register this component with BladeX and use it like so:
[code]

HOWEVER, if you are using Livewire, you might want to add the `wire:model` attribute to the input element:

[code]

Unfortunately, BladeX's parser interprets this as an attribute named `model` that is bound with a PHP expression (because of the colon).

I

[2019-12-04 08:16] freekmurze commented on #99
We'll take a look at this soon. We will probably provide an option to ignore parsing certain attributes.

[2019-12-08 22:07] AlexVanderbist commented on #99
I've made some changes to correctly extract Livewire attributes. Attributes names that contain a colon will no longer be compiled as data binding attributes.

Instead we're passing them to the component's view data as is. This means `wire:model='email'` will be passed as `['wire:model' => 'email']`. However, as it's an illegal variable name, it wont be defined in the view's local variables and it'

[2019-12-08 22:11] AlexVanderbist commented on #92
Sounds like a great plan. Thanks!

[2019-12-08 22:11] #92 closed

[2019-12-08 22:24] AlexVanderbist commented on #95
Thanks!

[2019-12-08 22:24] #95 closed

[2019-12-09 10:30] driesvints commented on #99
Both `$wireModel` and `$wire['model']` are fine by me. Don't have an exact preference.

Could be cool to create a helper for this.

[2019-12-09 16:16] gjm commented on #99
If I may step in and give a _regular user_'s perspective, I think the array alternative is better and the example @AlexVanderbist uses shows it perfectly!

Looking forward for this integration to happen because I really love BladeX and Livewire and **really** want then to get along :smile:

[2019-12-10 03:31] alnassif opened #104 "Dealing with checkbox/radio groups"
Hi there,

I'm still new to Laravel and the Blade X package, though i can't for the life of me figure out how to structure my custom checkbox group field and the view model to deal with check boxes that are checked. If someone can provide me with some assistance that would be great.

[2019-12-10 15:06] calebporzio commented on #99
I really like the `$wire['model']` solution. Thanks for digging into this @AlexVanderbist! And to other for weighing in, very exciting.

[2019-12-18 19:41] JeffreyDavidson opened #106 "Pulling out model logic out of blade-x component"
This is my date-field component. If you notice inside of the value attribute of the input element it has a value that is situational to the form that it is on. What can I do so that I can pull that logic out so that the value is determined out of the component?

[code]

[2019-12-18 22:32] freekmurze commented on #106
Take a look at view models: https://docs.spatie.be/laravel-blade-x/v2/advanced-usage/transforming-data-with-view-models/

[2019-12-18 22:32] #106 closed

[2019-12-18 23:33] JeffreyDavidson commented on #106
@freekmurze  The problem I think I have with this though is the component itself a date-time field that is reused for multiple forms. One of the forms that uses this component has a parent context tag surounding so it knows the model so it know its field's values correctly. I don't want to have this logic inside of this component and with the suggestion above I don't think would apply in this inst

[2019-12-20 13:58] AlexVanderbist commented on #97
I like this idea a lot. Gonna check what the rest of the team thinks :)

[2019-12-20 15:32] Gummibeer commented on #97
One thing to think about could be the priority. I would say that a specific attribute should override a spreaded array key. So independent of the order in the element the more precise one should override the spreaded one.
What do you think?

[2019-12-20 18:23] freekmurze commented on #97
Seems like a great idea to me 👍

[2019-12-21 14:45] driesvints commented on #99
@AlexVanderbist did you already manage to have a look at this? I see https://github.com/spatie/laravel-blade-x/commit/b78a9392bc0233a0ff443c3c84176cc3a43ca1ac but that seems to strip the Livewire attributes?

I've also begun to use Alpine.js in Eventy but it suffers from the same problem as Livewire. Any colon attribute gets stripped:

[code]

`<x-button x-on:click="open = true">Open Dropdown</but

[2019-12-21 14:47] driesvints commented on #99
If anyone can point me in the right direction I can help out perhaps? I really believe that Livewire + Alpine.js + Blade X are a match made in heaven so would love to see these three work nicely together 😄

[2019-12-21 15:29] driesvints commented on #99
I solved it for now with this 😄  (forgive the ugly oneliner)

[code]

[code]

[2019-12-25 17:42] mokhosh commented on #99
Just out of curiosity, do these solutions work for attribute names that have more than just a colon? Like these:
[code]

[2019-12-27 11:23] gjm commented on #99
@mokhosh It doesn't... (using 2.4.1) yet!

[2020-01-10 00:46] freekmurze commented on #99
Support for this has landed in 2.5.0

Thanks all!

[2020-01-10 00:46] #99 closed

[2020-01-10 11:14] driesvints commented on #99
Thanks everyone! ❤️

[2020-01-16 01:04] imliam opened #109 "Attribute Inheritance"
It would be nice to let attributes passed into the component be able to automatically be inherited in the root element of the component.

Say we have a component `x-button` defined with BladeX:

[code]

We may use it like so:

[code]

However, since we didn't explicitly declare how the "class" variable should be used within the component, it isn't used at all in the final rendered HTML.

Unfortuna

[2020-01-16 23:49] imliam commented on #109
Just had the thought that perhaps any attribute with a certain prefix could automatically be passed through, perhaps? Would mean not every variable in scope will get applied to the root element, but still feels fairly natural when writing HTML (after all, we already have to use the colon prefix with Blade-X).

For example:

[code]

[2020-01-19 19:43] driesvints commented on #99
Tested this in Eventy today and it works great 🙏

[2020-01-25 06:51] mojtabaahn opened #111 "Multiple Prefixes"
Hi there, Nice stuff 🙌

I was thinking it would be good if it was possible to have **multiple prefixes for multiple purposed components**. like `layout-...` , `partial-...`, `component-...` and more ..

If you think use-case is logical, i can make a PR and adding an **optional second parameter** to `component` and `components` methods as prefix.

[2020-01-25 09:34] freekmurze commented on #111
Laravel 7 will have support for a Blade X like syntax. We are not adding any new features to our package anymore.

[2020-01-25 09:34] #111 closed

[2020-01-26 19:31] mojtabaahn commented on #111
Well that seems awesome! Is there any resources out yet to read about Laravel 7?

[2020-02-04 09:34] AlexVanderbist commented on #97
Thanks for your input and work on this! We'll continue this in the PR :)

[2020-02-04 09:34] #97 closed

[2020-02-06 19:04] intergalactisch commented on #99
Does this mean that we can use it like @calebporzio's example?

`<input-text name="email" wire:model="email">`

[2020-02-07 19:12] intergalactisch opened #113 "Laravel Livewire validation message not showing in form partial"
I am looking to implement Blade X form partials in a Livewire setup, combined with form validation.

With this, I have setup a regular text-input like this:

[code]

And have called it like this in a Livewire blade component:

[code]

Also, I have set the following validation in place in the Livewire component class:

[code]

However, when I add a non-integer value I see that the form indeed isn't

[2020-02-11 10:42] AlexVanderbist opened #114 "Move away from the XmlSnapshotDriver for tests"
For #112 we'd like to move away from the `XmlSnapshotDriver` to something that would support having attributes like this: `...$variable`.

The phpunit-snapshot package also supports an `HtmlSnapshotDriver` that might be more flexible. Otherwise we might have to good old text-based snapshots.

[2020-02-11 11:06] Gummibeer commented on #114
For #112 we don't need a switch.

[2020-02-11 11:57] #114 closed

[2020-02-11 11:58] AlexVanderbist commented on #114
In that case, let's not bother. Tests were failing for that HTML driver anyways 😅

[2020-02-24 11:02] mokhosh opened #116 "Ugly Livewire attributes"
Sometimes in livewire attributes you have to combine static string with blade rendered text. Like this:
[code]

If it was just the variable we could have used a `:action` attribute on our blade-x element, but now we have to write something like this:
[code]
I've red this issue https://github.com/spatie/laravel-blade-x/issues/52 but double quotes inside single quotes is just as messy, and using slo

[2020-02-24 11:29] mokhosh commented on #113
+1

[2020-02-24 15:54] mokhosh commented on #113
@intergalactisch Found a way to fix this until they fix the bug. Add `:errors="$errors"` to your component:
[code]

[2020-02-24 18:53] intergalactisch commented on #113
@mokhosh nice! Thanks!

[2020-02-26 14:18] freekmurze commented on #116
We will not be investing any more time in this package, as Laravel 7 will have native blade components.

[2020-02-26 14:18] #116 closed

[2020-02-26 14:19] freekmurze commented on #109
We will not be investing any more time in this package, as Laravel 7 will have native blade components.

[2020-02-26 14:19] #109 closed

[2020-02-26 14:19] #113 closed

[2020-02-26 14:20] freekmurze commented on #104
My 2 cents: if your new to Laravel and want to use Blade X type of components, wait a bit until the release of Laravel 7 (will be out early march). It'll will have native support for Blade components.

[2020-02-26 14:20] #104 closed